

.home{
    text-align: center;

}
.home img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.searchBar {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 40%;
}

.listWrapper {
    align-items: center;
  justify-content: center;
  display: flex;
}

.productWrapper {
    margin: 20px;
}
.productWrapper img{
    width: 200px;
    height: 200px;
}
.productWrapper p{
    text-align: center;
}
